<h1>TaskLife Login:</h1>
<form method="POST" action="/login">
    <label>Username:</label>
    <input type="text" name="user[username]" required>
  <br></br>
    <label>Password:</label>
    <input type="text" name="user[password]" required>
  <br></br>
    <input type="submit" value="Log In">
</form>
