<h1>TaskLife Signup</h1>
<h2>This is the start of your new, organized and amazing life!!</h2>
<h3>Do or do not, there is not try - Yoda</h3>

<form method="POST" action="/signup">
  <label>Username:</label>
  <input type="text" name="user[username]" required>
<br></br>
  <label>Email:</label>
  <input type="text" name="user[email]" required>
<br></br>
  <label>Password:</label>
  <input type="text" name="user[password]" required>
<br></br>
  <input type="submit" value="Submit">
</form>